@model IEnumerable<session5_6Task.Models.Blog>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Type</th>
        <th>Created Date</th>
        <th>Likes</th>
        <th>Comments</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Type.Name</td>
            <td>@item.CreatedDate.ToString("d")</td>
            <td>@item.NumOfLikes</td>
            <td>@item.NumOfComments</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>